


<div class="adminBox">
    <form class="form-inline advancedSearchForm" name="admin" ng-submit="adminfunc()">

            <div class="form-group advancedSearchInputs">
                <b>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                <input ng-model="adminMail" type="text" class="form-control" ng-model="mail" placeholder="Enter Email" style="width:380px;">
            </div>

            <div class="form-group advancedSearchInputs">
                <b>Password&nbsp;</b>
                <input ng-model="adminPassword" type="text" class="form-control" ng-model="password" placeholder="Enter Password" style="width:380px;">
            </div>

            <input type="submit" value="Login" class="btn btn-primary" style="height:30px;width:480px;margin-top: 35px;"></input>
    </form>

</div>